* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #fff;
    padding-top: 4%;
}

#intro { 
    font-size: 40px;
    background-color: #95a5a6;
    font-family: 'Ubuntu 500italic', sans-serif;
}

#centre {
    color: #fff;
    font-size: 28px;
    text-align: center;
}

input[type=button] {
    background-color: #27ae60;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

[class*="col-"] {
      color: #fff;
      border-radius: 6px;
      line-height: 40px;
      text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


